/* schwarzer Background, weißer Text */

* {
    /* otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: FontAwesome, Roboto;
    font-weight: 500;
    font-size: 14px;
}

window#waybar {
    background-color:#000000;
    color: #ffffff;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#custom-updates {
    padding-right: 7px;
    background-color: rgba(100, 100, 300, 0.7);
}

#memory{
    background-color: rgba(100, 100, 300, 0.7);
}

#custom-icon,
#pulseaudio,
#battery,
#disk,
#cpu,
#network {
    padding-right: 9px;
    background-color: rgba(100, 100, 100, 0.2);
}

/* ----------------------------------------------------------- */
/* magrin & spaces */
/* ----------------------------------------------------------- */

#custom-icon {
    margin-left: 12px;
}

/* space between the widget */
#custom-icon,
#custom-updates,
#pulseaudio,
#battery,
#memory,
#network,
#wlr-taskbar {
    margin-right: 12px;
}

#clock {
    margin-right: 12px;
}

#workspaces button {
    margin-right: 12px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover{
    background: rgba(0, 0, 0, 0);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


/* ----------------------------------------------------------- */
/* widget specific settings -> ordered from left to right*/
/* ----------------------------------------------------------- */



