* {
    margin: 1.5px 0px;
    padding: 0px;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8); /* Weiß mit 80% Opazität */
    color: #ffffff;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}


/* ----------------------------------------------------------- */
/* default font-size and font-family settings*/
/* ----------------------------------------------------------- */

#custom-icon,
#custom-updates,
#pulseaudio,
#battery,
#custom-disk,
#custom-cpu,
#custom-memory,
#network{
    font-family: 'Symbols Nerd Font Mono';
    font-size: 18px;
    color: #ffffff;
}

#workspaces,
#custom-volume,
#custom-battery,
#disk,
#cpu,
#memory,
#clock,
#workspaces button {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'JetBrains Mono Nerd Font Mono';
}


/* ----------------------------------------------------------- */
/* magrin & spaces */
/* ----------------------------------------------------------- */

#custom-icon {
    margin: 0px 15px 0px 15px 
}

#workspaces button{
    margin-right: 7.5px;
}

#custom-volume,
#custom-battery,
#disk,
#cpu,
#memory {
    margin-right: 5px;
}

#custom-updates,
#pulseaudio,
#battery,
#custom-memory,
#network {
    margin-right: 15px;
}

#custom-disk,
#custom-cpu {
    margin-right: 7.5px;
}

#clock {
    margin-right: 15px;
}


/* ----------------------------------------------------------- */
/* widget specific settings -> ordered from left to right*/
/* ----------------------------------------------------------- */
